<.header>
  Editar Fornecedor <%= @fornecedor.id %>
  <:subtitle>Use esse formulário para editar o Fornecedor desejada.</:subtitle>
</.header>

<.fornecedor_form changeset={@changeset} action={~p"/fornecedores/#{@fornecedor}"} />

<.back navigate={~p"/fornecedores"}>Voltar para Fornecedores</.back>
