<.header>
  Cadastrar Fornecedor
  <:subtitle>Use esse formulário para cadastrar um novo Fornecedor.</:subtitle>
</.header>

<.fornecedor_form changeset={@changeset} action={~p"/fornecedores"} />

<.back navigate={~p"/fornecedores"}>Voltar para Fornecedores</.back>
