<.header>
  Cadastrando Produto
  <:subtitle>Preencha este formulário com os dados do produto desejado.</:subtitle>
</.header>

<.produto_form changeset={@changeset} action={~p"/produtos"} fornecedores={@fornecedores} />

<.back navigate={~p"/produtos"}>Voltar para Produtos</.back>
