<.header>
  Editar Movimentação <%= @movimentacao.id %>
  <:subtitle>Use esse formulário para editar a Movimentação desejada.</:subtitle>
</.header>

<.movimentacao_form changeset={@changeset} action={~p"/movimentacoes/#{@movimentacao}"} produtos={@produtos} />

<.back navigate={~p"/movimentacoes"}>Voltar para Movimentações</.back>
