<.header>
  Nova Movimentação
  <:subtitle>Use esse formulário para cadastrar uma nova Movimentação.</:subtitle>
</.header>

<.movimentacao_form changeset={@changeset} action={~p"/movimentacoes"} produtos={@produtos} />

<.back navigate={~p"/movimentacoes"}>Voltar para movimentacoes</.back>
